<?xml version="1.0" encoding="UTF-8"?>
<gui name="khipu"
version="1"
xmlns="http://www.kde.org/standards/kxmlgui/1.0"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
    http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >
    
    <MenuBar>
        <Menu name="edit" noMerge="1">
            <text>&amp;Edit</text>
            <Action name="add_space2d"/>
            <Action name="add_space3d"/>
        </Menu>
        
        <Menu name="view">
            <text>&amp;View</text>
            <DefineGroup name="view_dashboard_operations" />
            <Action name="show_plots"/>
            <Action name="show_spaces"/>
            <DefineGroup name="view_dashboard_operations" />
            <Action name="show_space_plots"/>
            <Action name="show_space_info"/> 
            <Action name="show_space_options"/>
        </Menu>
        
        <Menu name="tools">
            <text>&amp;Tools</text>
            <DefineGroup name="tools_dashboard_operations" />
            <Action name="delete_currentspace"/>
            <DefineGroup name="tools_space_operations" />
            <Action name="copy_snapshot"/>
            <Action name="export_snapshot"/>
        </Menu>
    </MenuBar>
    
    <ToolBar name="mainToolBar" newline="false" noMerge="1"  index="0" hidden="false">
        <text>Main Toolbar</text>
        <Action name="file_new" />
        <Action name="file_open" />
        <Action name="file_save" />  
        <Action name="file_close" />
        <Separator />
        <DefineGroup name="edit_operations" />
        <Action name="add_space2d"/>
        <Action name="add_space3d"/>
    </ToolBar>
    
    <ToolBar name="spaceToolBar" newline="false" noMerge="1" index="1" hidden="false">
        <text>Space ToolBar</text>
        <DefineGroup name="go_operations" />
        <Action name="go_home" />
        <DefineGroup name="view_operations" />
        <Action name="show_space_plots"/>
        <Action name="show_space_info"/> 
        <Action name="show_space_options"/>
        <DefineGroup name="tools_operations" />
        <DefineGroup name="view_operations" />
        <Action name="copy_snapshot"/>
        <Action name="export_snapshot"/>
        <Separator />
    </ToolBar>
    
</gui>
    