#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Khipu
Name[es]=Khipu
Name[et]=Khipu
Name[fr]=Khipu
Name[hu]=Khipu
Name[nl]=Khipu
Name[pt]=Khipu
Name[pt_BR]=Khipu
Name[sv]=Khipu
Name[uk]=Khipu
Name[x-test]=xxKhipuxx
GenericName=Advanced Mathematical Function Plotter
GenericName[cs]=Pokročilý souřadnicový zapisovač matematických funkcí
GenericName[es]=Trazador avanzado de funciones matemáticas
GenericName[et]=Täiustatud matemaatiliste funktsioonide graafiku joonistaja
GenericName[fr]=Traceur de fonctions mathématiques avancé
GenericName[hu]=Fejlett matematikai függvényábrázoló
GenericName[km]=កម្មវិធី​គ្រោង​មុខងារ​គណិត​វិទ្យា​កម្រិត​ខ្ពស់
GenericName[nl]=Geavanceerde wiskundige functieplotter
GenericName[pl]=Zaawansowany program rysujący funkcje matematyczne
GenericName[pt]=Desenho Avançado de Funções Matemáticas
GenericName[pt_BR]=Desenho avançado de funções matemáticas
GenericName[sk]=Pokročilý vykresľovač matematických funkcií
GenericName[sv]=Avancerat diagramverktyg för matematisk funktioner
GenericName[uk]=Графобудівник математичних функцій з додатковими можливостями
GenericName[x-test]=xxAdvanced Mathematical Function Plotterxx
Comment=Platform for visualizing curves and surfaces
Comment[es]=Plataforma para visualizar curvas y superficies
Comment[et]=Kõverate ja pindade visualiseerimise platvorm
Comment[fr]=Plate-forme pour visualiser des courbes et des surfaces
Comment[hu]=Egy platform görbék és felületek grafikus megjelenítéséhez
Comment[km]=វេទិកា​សម្រាប់​មើល​ខ្សែកោង និង​ផ្ទៃ
Comment[nl]=Platform voor visualiseren van krommen en oppervlakken
Comment[pl]=Platforma do wizualizowania krzywych i powierzchni
Comment[pt]=Plataforma de visualização de curvas e superfícies
Comment[pt_BR]=Plataforma de visualização de curvas e superfícies
Comment[sk]=Platforma na vizualizáciu kriviek a povrchov
Comment[sv]=Plattform för att visualisera kurvor och ytor
Comment[uk]=Платформа для візуалізації кривих та поверхонь
Comment[x-test]=xxPlatform for visualizing curves and surfacesxx
Exec=khipu
MimeType=application/x-khipu;
Icon=khipu
Type=Application
X-DocPath=khipu/index.html
Terminal=false
Categories=Qt;KDE;Education;Math;
