#!/usr/bin/env xdg-open
[Desktop Entry]
Name=GPLACS
GenericName=Advanced Mathematical Function Plotter
Comment=Platform for visualizing curves and surfaces
Exec=gplacs
MimeType=application/x-gplacs;
Icon=gplacs
Type=Application
X-DocPath=gplacs/index.html
Terminal=false
Categories=Qt;KDE;Education;Math;
