#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Khipu
GenericName=Advanced Mathematical Function Plotter
Comment=Platform for visualizing curves and surfaces
Exec=khipu
MimeType=application/x-khipu;
Icon=khipu
Type=Application
X-DocPath=khipu/index.html
Terminal=false
Categories=Qt;KDE;Education;Math;Science;
