#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Khipu
Name[bs]=Khipu
Name[ca]=Khipu
Name[ca@valencia]=Khipu
Name[cs]=Khipu
Name[de]=Khipu
Name[el]=Khipu
Name[en_GB]=Khipu
Name[es]=Khipu
Name[et]=Khipu
Name[fi]=Khipu
Name[fr]=Khipu
Name[ga]=Khipu
Name[gl]=Khipu
Name[hi]=Khipu
Name[hu]=Khipu
Name[it]=Khipu
Name[ka]=Khipu
Name[ko]=Khipu
Name[mr]=खिपु
Name[nl]=Khipu
Name[pl]=Khipu
Name[pt]=Khipu
Name[pt_BR]=Khipu
Name[ru]=Khipu
Name[sk]=Khipu
Name[sl]=Khipu
Name[sv]=Khipu
Name[tr]=Kipu
Name[uk]=Khipu
Name[x-test]=xxKhipuxx
Name[zh_TW]=Khipu
GenericName=Advanced Mathematical Function Plotter
GenericName[bs]=Napredni crtač matematičkih funkcija
GenericName[ca]=Traçador avançat de funcions matemàtiques
GenericName[ca@valencia]=Traçador avançat de funcions matemàtiques
GenericName[cs]=Pokročilý souřadnicový zapisovač matematických funkcí
GenericName[de]=Fortgeschrittener mathematischer Funktionsplotter
GenericName[el]=Προηγμένη γραφική αναπαράσταση μαθηματικών συναρτήσεων
GenericName[en_GB]=Advanced Mathematical Function Plotter
GenericName[es]=Trazador avanzado de funciones matemáticas
GenericName[et]=Täiustatud matemaatiliste funktsioonide graafiku joonistaja
GenericName[fi]=Edistyksellinen matemaattisten funktioiden piirturi
GenericName[fr]=Traceur avancé de fonctions mathématiques 
GenericName[ga]=Ardbhreacaire Feidhmeanna Matamaiticiúla
GenericName[gl]=Representación gráfica avanzada de funcións
GenericName[hi]=उन्नत गणितीय फंक्शन प्लॉटर
GenericName[hu]=Fejlett matematikai függvényábrázoló
GenericName[it]=Plotter avanzato di funzioni matematiche
GenericName[ka]=მათემატიკური ფუნქციების გრაფიკების ხატვის გაუმჯობესებული პროგრამა
GenericName[km]=កម្មវិធី​គ្រោង​មុខងារ​គណិត​វិទ្យា​កម្រិត​ខ្ពស់
GenericName[ko]=고급 수학 함수 플로터
GenericName[nl]=Geavanceerde wiskundige functieplotter
GenericName[pl]=Zaawansowany program rysujący funkcje matematyczne
GenericName[pt]=Desenho Avançado de Funções Matemáticas
GenericName[pt_BR]=Desenho avançado de funções matemáticas
GenericName[sk]=Pokročilý vykresľovač matematických funkcií
GenericName[sl]=Napredni risalnik matematičnih funkcij
GenericName[sv]=Avancerat diagramverktyg för matematisk funktioner
GenericName[tr]=Gelişmiş Matematiksel İşlev Çizici
GenericName[uk]=Графобудівник математичних функцій з додатковими можливостями
GenericName[x-test]=xxAdvanced Mathematical Function Plotterxx
Comment=Platform for visualizing curves and surfaces
Comment[bs]=Platforma za vizualuzaciju krivih i površina
Comment[ca]=Plataforma per a visualitzar corbes i superfícies
Comment[ca@valencia]=Plataforma per a visualitzar corbes i superfícies
Comment[cs]=Platforma pro vizualizaci křivek a povrchů
Comment[de]=Plattform für die Visualisierung von Kurven und Oberflächen
Comment[el]=Πλατφόρμα απεικόνισης καμπυλών και επιφανειών
Comment[en_GB]=Platform for visualising curves and surfaces
Comment[es]=Plataforma para visualizar curvas y superficies
Comment[et]=Kõverate ja pindade visualiseerimise platvorm
Comment[fi]=Käyrien ja pintojen visualisointialusta
Comment[fr]=Plate-forme pour afficher des courbes et des surfaces
Comment[gl]=Plataforma para visualizar curvas e superficies
Comment[hi]=वक्र व सतह को रुप देने का तंत्र
Comment[hu]=Egy platform görbék és felületek grafikus megjelenítéséhez
Comment[it]=Piattaforma per la visualizzazione di curve e superfici
Comment[ka]=მრუდებისა და ზედაპირების ვიზუალიზაციის პლატფორმა
Comment[km]=វេទិកា​សម្រាប់​មើល​ខ្សែកោង និង​ផ្ទៃ
Comment[ko]=곡선과 평면을 시각화하는 플랫폼
Comment[nl]=Platform voor visualiseren van krommen en oppervlakken
Comment[pl]=Platforma do wizualizowania krzywych i powierzchni
Comment[pt]=Plataforma de visualização de curvas e superfícies
Comment[pt_BR]=Plataforma de visualização de curvas e superfícies
Comment[sk]=Platforma na vizualizáciu kriviek a povrchov
Comment[sl]=Platforma za vizualizacijo krivulj in površin
Comment[sv]=Plattform för att visualisera kurvor och ytor
Comment[tr]=Eğrileri ve yüzeyleri görselleştirmeye yönelik platform
Comment[uk]=Платформа для візуалізації кривих та поверхонь
Comment[x-test]=xxPlatform for visualizing curves and surfacesxx
Exec=khipu
MimeType=application/x-khipu;
Icon=khipu
Type=Application
X-DocPath=khipu/index.html
Terminal=false
Categories=Qt;KDE;Education;Math;Science;
